p.header {
  font-weight:bold;
  border-top:solid;
}

.comment {
  font-size: 80%;
  font-weight: normal;
}

.header .comment {
  margin-left: 1cm;
}

input.more {
  background-color:green;
  color:white;
  font-weight:bold;
}

input.delete {
  background-color:red;
  color:white;
  font-weight:bold;
}

textarea {
  background-color:#eee;
}
