p.header {
  font-weight:bold;
  border-top:solid;
}

input.more {
  background-color:green;
  color:white;
  font-weight:bold;
}

input.delete {
  background-color:red;
  color:white;
  font-weight:bold;
}

textarea {
  background-color:#eee;
}
