<!DOCTYPE html>
<!--

form2latex - Form Selection Page

MIT License

Copyright (c) 2019 Peter Schüller

-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{site_title}} - Form Selection</title>
  <style>
    {{{commoncss}}}
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script>
    {{{commonjs}}}
  </script>
</head>
<body>
  <h1>Stored Forms</h1>

  <h2>Existing Forms</h2>
  {{#forms}}
  <p><a href="{{{prefix}}}/editform/{{formtype}}/{{formkey}}">{{formkey}}</a> (type {{formtype}})</p>
  {{/forms}}

  <h2>Create New Form</h2>

  <form action="{{{prefix}}}/editform/{{newformtype}}/new" method="get">
  <p><input type="submit" name="submit" value="Create New Form of type {{newformtype}}"></p>
  </form>

  <p><a href="{{{prefix}}}/logout">Logout</a></p>
</body>
</html>         
